{% extends "admin/base_site.html" %}
{% load user_profile_template_tags %}
{% load static %}

<head>
	{% block title %}Readapt Nutrition | Admin site{% endblock %}

	{% block extrastyle %}
		<link rel="stylesheet" href="{% static 'user_profile/css/admin_color.css' %}">
		<link rel="stylesheet" href="{% static 'user_profile/css/base.css' %}">
    {% endblock %}

</head>

<body>
	{% block branding %}<a class="navbar-brand" href="{% url 'profile:home' %}">Website Name<img src="" alt=""></a>{% endblock %}
	
	{% block footer %}{% endblock %}
</body>