{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

<head>
	{% block title %}Change Password{% endblock %}
</head>

<body>
	{% block profile %}active{% endblock %}

	{% block body %}
		<form method="POST" class="center border-l-grey border-round w-280" id="password-change-form">
			{% csrf_token %}
		
			<h3 align="center">Change Password</h3>
			<hr>

			<label for="id_old_password">Old Password</label>
			{{form.old_password|as_crispy_field}}

			<label for="id_password">Password</label>
			{{form.password|as_crispy_field}}

			<input id="show-password" type="checkbox">
			<label for="show-password">Show</label><br>

			<div id="password-border">
				<div class="script-element">
					<div class="progress">
						<div class="progress-bar bg-danger" role="progressbar" style="width: 0%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				</div>

				<ul class="info">
					<li id="length">8 characters long</li>
					<li id="letter">Contain a letter</li>
					<li id="number">Contain a number</li>
					<li id="special">Contain a special character</li>
					<li id="personal">Cannot contain personal information</li>
				</ul>
			</div>
	
			<div align="center">
				<button type="Submit"class="btn bt-color1 w-full" id="btn-submit">Change Password</button>
				<hr>
				<a href="{% url 'profile:profile' %}">Back to profile</a>					
			</div>

		</form>
	{% endblock body %}

	{% block javascript %}
		<script type="text/javascript" src="{% static 'user_profile/js/password_change.js' %}"></script>
	{% endblock javascript %}
</body>